body { background-image: url(background.jpg);
    font-family: Arial, Verdana, sans-serif;
}

h1 { background-image: url(lighthouselogo.jpg);
  background-color: #9DB3DC;
 background-repeat: no-repeat;
 height: 100px; font-size: 3em;
 padding-left: 150px; padding-top: 30px;
 border-radius: 15px;
 margin-top: 0;
 text-shadow: 3px 3px 3px #676767;
}

h2 { color: #000033; 
  font-family: arial, sans-serif;
  text-shadow: 1px 1px 0 #ccc;
}
footer { font-size: .80em;
       font-style: italic;
}
#container { background-color: #FFFFFF;
          padding: 2em;
          margin-left: auto;
          margin-right: auto;
          background-color: #FFFFFF;
          padding: 2em;
          width: 80%;
          min-width: 800px;
           box-shadow: 5px 5px 5px #1e1e1e;
          }

   ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #9DB3DC;
          }
          
    li {
      float: left;
      border-right:1px solid #bbb;
          }
          
    li:last-child {
      border-right: none;
          }
          
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
          }
          
    li a:hover:not(.active) {
      background-color: #111;
          }
          
    .active {
      background-color: #000000;
          }
      
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=button] {
  background-color: #9DB3DC;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=button]:hover {
  background-color: #9DB3DC;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}